body {
    margin:0;
    padding: .5em;
    background-color: #222;
    color: white;
    font-family: "Geo", sans-serif;
}
#wrap {
    padding: 2em;
}
#board {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOklEQVR4nO3OMQ4AIAgEwT3+/+ezUUPraek2hIIJAOaimjNGCsB2jKwPYmQDkpQg1ZeGnOXo6vd72AAcuxT+o8BYJwAAAABJRU5ErkJggg=='), crosshair;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
    background-color: #333;
    padding: 0px;
    border: 2px solid #111;
    width: 318px; /* columns * (column-width + gap) - gap # one fewer gap */
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#wrap {
  padding: 2em;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #1e1e1e;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#preview {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(2, 30px);
  gap: 2px;
  padding: 2em;
  width: 126px;

}

#score, #leader_board {
  color: white;
  font-size: 18px;
}

#board-container {
  position: relative;
  width: 318px; /* Same as your board width */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 10;
}
.cell {
    width: 30px;
    height: 30px;
}

.shape-I,
.shape-J,
.shape-L,
.shape-O,
.shape-S,
.shape-T,
.shape-Z {
    z-index: 10;
}

.shape-T {
    background-color: #c0279a !important;
}

.shape-I {
    background-color: #bd4333 !important;
}

.shape-O {
    background-color: #bdbb27 !important;
}

.shape-Z {
    background-color: #41ad2c !important;
}

.shape-L {
    background-color: #29b08a !important;
}

.shape-J {
    background-color: #2b73bd !important;
}

.shape-S {
    background-color: #6933bd !important;
}

.cell.ghost {
    background-color: rgba(157, 157, 87, 0.08);
}

.point {
  position: absolute;
  font-size: 19px;
  color: #ffffff;
  animation: moveUpFadeOut 1.25s cubic-bezier(.1,.94,.82,1.05) forwards;
  left: 0;
}

@keyframes moveUpFadeOut {
  0% {
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  100% {
    bottom: 100px;
    opacity: 0;
  }
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 150px; /* Adjust width for alignment */
    text-align: left;
}

.info-title {
    font-size: 80%;
}

.info-value {
    font-weight: bold;
    margin-left: auto;
    position: relative;
}

@keyframes pulse {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.2);
    }
    100% {
        filter: brightness(1);
    }
}

.locked {
    animation: pulse 0.25s ease-in-out;
}

#game-container.level-2 #board {
    /* solid */
    background-color: #1a2c41;
    background-image: none;
}
#game-container.level-3 #board {
    /* Cutting matt */
    background-color: rgba(25, 47, 38, 1);
    opacity: 1;
    background-image:
            linear-gradient(#233b36 3.2px, transparent 3.2px),
            linear-gradient(90deg, #233b36 3.2px, transparent 3.2px),
            linear-gradient(#233b36 1.6px, transparent 1.6px),
            linear-gradient(90deg, #233b36 1.6px, rgba(25, 47, 38, 1) 1.6px);
    background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
    background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px, -1.6px -1.6px;
}
#game-container.level-4 #board {
    /* Diag TL -> BR */
    background-color: #2a3014;
    opacity: 1;
    background: repeating-linear-gradient(45deg, #39440e, #39440e 3.5px, #2a3014 3.5px, #2a3014 17.5px);
    background-size: auto;
}
#game-container.level-5 #board {
    /* triangles */
    background-color: rgba(23, 46, 45, 1);
    opacity: 1;
    background-image: linear-gradient(45deg, #1f5748 50%, rgba(23, 46, 45, 1) 50%);
    background-size: 17px 17px;
}
#game-container.level-6 #board {
    /* concentric circles from top left */
    background-color: #30142d;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #30142d 12px ), repeating-linear-gradient( #442b4655, #442b46 );
    background-size: auto;
}
#game-container.level-7 #board {
    /* diamonds gingham */
    background-color: rgba(46, 43, 23, 1);
    opacity: 1;
    background-image:  linear-gradient(135deg, #343a17 25%, transparent 25%), linear-gradient(225deg, #343a17 25%, transparent 25%), linear-gradient(45deg, #343a17 25%, transparent 25%), linear-gradient(315deg, #343a17 25%, rgba(46, 43, 23, 1) 25%);
    background-position:  28px 0, 28px 0, 0 0, 0 0;
    background-size: 28px 28px;
    background-repeat: repeat;
}
#game-container.level-8 #board {
    /* zig-zag */
    background-color: rgba(23, 46, 40, 1);
    opacity: 1;
    background-image:  linear-gradient(135deg, #173b36 25%, transparent 25%), linear-gradient(225deg, #173b36 25%, transparent 25%), linear-gradient(45deg, #173b36 25%, transparent 25%), linear-gradient(315deg, #173b36 25%, rgba(23, 46, 40, 1) 25%);
    background-position:  16px 0, 16px 0, 0 0, 0 0;
    background-size: 32px 32px;
    background-repeat: repeat;
}
#game-container.level-9 #board {
    /* 3d cubs */
    background-color: rgba(32, 23, 46, 1);
    opacity: 1;
    background-image:  linear-gradient(30deg, #311f57 12%, transparent 12.5%, transparent 87%, #311f57 87.5%, #311f57), linear-gradient(150deg, #311f57 12%, transparent 12.5%, transparent 87%, #311f57 87.5%, #311f57), linear-gradient(30deg, #311f57 12%, transparent 12.5%, transparent 87%, #311f57 87.5%, #311f57), linear-gradient(150deg, #311f57 12%, transparent 12.5%, transparent 87%, #311f57 87.5%, #311f57), linear-gradient(60deg, #311f5777 25%, transparent 25.5%, transparent 75%, #311f5777 75%, #311f5777), linear-gradient(60deg, #311f5777 25%, transparent 25.5%, transparent 75%, #311f5777 75%, #311f5777);
    background-size: 32px 56px;
    background-position: 0 0, 0 0, 16px 28px, 16px 28px, 0 0, 16px 28px;
}
#game-container.level-10 #board {
    /* checker */
    background-color: rgba(46, 23, 23, 1);
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, #571f1f 25%, transparent 25%, transparent 75%, #571f1f 75%, #571f1f), repeating-linear-gradient(45deg, #571f1f 25%, rgba(46, 23, 23, 1) 25%, rgba(46, 23, 23, 1) 75%, #571f1f 75%, #571f1f);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}
#game-container.level-11 #board {
    /* thin horizontal lines */
    background-color: rgba(25, 46, 23, 1);
    opacity: 1;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #1f5731, #1f5731 1px, rgba(25, 46, 23, 1) 1px, rgba(25, 46, 23, 1));
}
#game-container.level-12 #board {
    background-color: rgba(23, 39, 46, 1);
    opacity: 1;
    background-image:  radial-gradient(#1f4457 2px, transparent 2px), radial-gradient(#1f4457 2px, rgba(23, 39, 46, 1) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}
#game-container.level-13 #board {
    background-color: rgba(39, 23, 46, 1);
    opacity: 1;
    background: linear-gradient(135deg, #401f5755 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #401f57 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #401f5755 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #401f57 25%, rgba(39, 23, 46, 1) 25%) 0px 0/ 80px 80px;
}
#game-container.level-14 #board {
   background-color: rgba(46, 23, 23, 1);
    opacity: 1;
    background-image: radial-gradient( ellipse farthest-corner at 17px 17px , #571f1f, #571f1f 50%, rgba(46, 23, 23, 1) 50%);
    background-size: 17px 17px;
}
#game-container.level-15 #board {
    background-color: rgba(45, 46, 23, 1);
    opacity: 1;
    background-image:  linear-gradient(30deg, #57541f 12%, transparent 12.5%, transparent 87%, #57541f 87.5%, #57541f), linear-gradient(150deg, #57541f 12%, transparent 12.5%, transparent 87%, #57541f 87.5%, #57541f), linear-gradient(30deg, #57541f 12%, transparent 12.5%, transparent 87%, #57541f 87.5%, #57541f), linear-gradient(150deg, #57541f 12%, transparent 12.5%, transparent 87%, #57541f 87.5%, #57541f), linear-gradient(60deg, #57541f77 25%, transparent 25.5%, transparent 75%, #57541f77 75%, #57541f77), linear-gradient(60deg, #57541f77 25%, transparent 25.5%, transparent 75%, #57541f77 75%, #57541f77);
    background-size: 18px 32px;
    background-position: 0 0, 0 0, 9px 16px, 9px 16px, 0 0, 9px 16px;
}
#game-container.level-16 #board {
    background-color: rgba(23, 46, 24, 1);
    opacity: 1;
    background-image: linear-gradient(0deg, rgba(23, 46, 24, 1) 50%, #2a571f 50%);
    background-size: 9px 9px;
}
#game-container.level-17 #board {
    background-color: rgba(23, 46, 45, 1);
    opacity: 1;
    background-image: linear-gradient(45deg, #1f5748 50%, rgba(23, 46, 45, 1) 50%);
    background-size: 9px 9px;
}
#game-container.level-18 #board {
    background-color: rgba(23, 24, 46, 1);
    opacity: 1;
    background-image: linear-gradient(-45deg, rgba(23, 24, 46, 1), rgba(23, 24, 46, 1) 50%, #1f2857 50%, #1f2857);
    background-size: 20px 20px;
}
#game-container.level-19 #board {
    /* bold vertical stripes */
    background-color: rgba(48, 20, 20, 1);
    opacity: 1;
    background-image: linear-gradient(to right, #422828, #422828 14px, rgba(48, 20, 20, 1) 14px, rgba(48, 20, 20, 1) );
    background-size: 28px 100%;
    }
#game-container.level-20 #board {
    background-color: rgba(23, 39, 46, 1);
    opacity: 1;
    background-image:  radial-gradient(#1f4457 2px, transparent 2px), radial-gradient(#1f4457 2px, rgba(23, 39, 46, 1) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background-color: #333;
    border: 2px dotted #666;
    cursor: pointer;
    position: relative;
    top: 4px;
}

input[type="checkbox"]:checked {
    background-color: white;
    border: 2px solid black;
}
label {
    cursor: pointer;
}
input:focus {
    outline: none;
}

#final_screen {
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.5em;
    padding: 0.5em;
}
#final_screen .title {
    font-size: 120%;
}
#final_screen .bonustitle {
    font-size: 120%;
    color: #FC0;
    font-weight: bold;
}

.info-meter {
    padding-top: .7em;
    margin-bottom: -8px;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 5px;
}
.meter-square {
    display: flex;
    width: 10px;
    height: 10px;
    margin: 2px;
    background-color: lightgray;
    clear:left;
}
.meter-square.active {
    background-color: green;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2em;
    z-index: 20;
}

css
Copy code
#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2vw; /* Example using viewport width */
    z-index: 20;
}

#controls button {
    width: 15vw;
    height: 13vh;
    margin: 2vw; /* Example using viewport width */
    padding: 0;
    background-color: rgba(0,0,0,0.1);
    border: solid 2px #ccc;
    border-radius: 1em;
    font-size: 2em;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

button#space {
    width: 10vw;
    height: 10vh;
    margin: 2vw 1vw; /* Example using viewport width */
}

#controls button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #fff;
}

#controls button:active {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #aaa;
}
