body {
    margin:0;
    padding: .5em;
    background-color: #222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#wrap {
    padding: 2em;
}
#board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    gap: 2px;
    background-color: #333;
    padding: 0px;
    border: 2px solid #111;
    width: 318px; /* columns * (column-width + gap) - gap # one fewer gap */
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#wrap {
  padding: 2em;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 20px;
    background: #1e1e1e;
        border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#preview {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(2, 30px);
  gap: 2px;
  padding: 2em;
  width: 126px;

}

#score, #leader_board {
  color: white;
  font-size: 18px;
}

#board-container {
  position: relative;
  width: 318px; /* Same as your board width */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 10;
}
.cell {
    width: 30px;
    height: 30px;
}
.shape-T {
    background-color: #c0279a;
}

.shape-I {
    background-color: #bd4333;
}

.shape-O {
    background-color: #bdbb27;
}

.shape-Z {
    background-color: #41ad2c;
}

.shape-L {
    background-color: #29b08a;
}

.shape-J {
    background-color: #2b73bd;
}

.shape-S {
    background-color: #6933bd;
}

.point {
  position: absolute;
  font-size: 19px;
  color: #ffffff;
  animation: moveUpFadeOut 1s cubic-bezier(.1,.94,.82,1.05) forwards;
}

@keyframes moveUpFadeOut {
  0% {
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  100% {
    bottom: var(--random-bottom);
    left: var(--random-left);
    opacity: 0;
  }
}